body
{
background-color :  #101025;
color: #505080;
margin-top:50px;
}

input{

}

a, a:visited {
color:grey;
text-decoration:none;
}

a:hover, a:active, a:focus {
color:black;
text-decoration:none;
}


.score{
max-width:50%;
}

.formulaire{
color:black;
padding:4px;
background-color: #99beff;
margin:12px 10px 20px 10px;
text-align:justify;
min-height:90px;
border:1px solid black;

}

#resultat
{
color:black;
padding:4px;
background-color: #99beff;
margin:12px 10px 20px 10px;
text-align:justify;
min-height:90px;
border:1px solid black;

}

#question{
font-size:20px;
}

#consigne{
font-size:16px;
}

#bouton{
font-size:12px;
}

#correction{
display:none;
}

#reponse{
color:green;
}